<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="http://www.kaffah.biz/template/front/kaffahbiz/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://www.kaffah.biz/template/front/kaffahbiz/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
<!--  jquery plguin -->
<script type="text/javascript" src="http://www.kaffah.biz/template/front/kaffahbiz/js/jquery.min.js"></script>
<!-- start gallery -->
<script type="text/javascript" src="http://www.kaffah.biz/template/front/kaffahbiz/js/jquery.easing.min.js"></script>	
<script type="text/javascript" src="http://www.kaffah.biz/template/front/kaffahbiz/js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="http://www.kaffah.biz/template/front/kaffahbiz/js/site.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<link href="http://www.kaffah.biz/template/front/kaffahbiz/css/magnific-popup.css" rel="stylesheet" type="text/css">
<script src="http://www.kaffah.biz/template/front/kaffahbiz/js/jquery.magnific-popup.js" type="text/javascript"></script>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
				

				$('#accountmenu a#accounta').click(function(eve){
					eve.preventDefault();
					$('div.accountmenu').toggle(10);
					$('div.login').toggle(10);
					$(this).children('em').toggleClass('bottomnone');
				});


				$('#accountmenu ul.user li a').click(function(eve){			
					$('div.accountmenu').slideUp(10);
					$('div.login').slideUp(10);
					$('a#accounta em').removeClass('bottomnone');
					return true;
				});
				
			});
		</script>

</head>
<body>

<div class="blackbg">
	<div class="loadupload"></div>
	<div class="popup">
		<a class="close" href="">x</a>
		<div class="wrappop">
		</div>
	</div>
</div>

<!-- start header -->
<div class="header_bg">
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<h1><a href="http://www.kaffah.biz"><img src="http://www.kaffah.biz/template/front/kaffahbiz/images/logo2.png" alt="cara membuat website toko online gratis"/></a></h1>
			</div>
			<div class="h_right">
				<ul class="menu">
					<li><a href="http://www.kaffah.biz/"><img src="http://www.kaffah.biz/template/front/kaffahbiz/images/home.png" alt="cara membuat website toko online gratis"/></a></li>
					<li><a href="http://www.kaffah.biz/fitur">Fitur</a></li>
					<li><a href="http://www.kaffah.biz/harga">Akun Berbayar</a></li>
					<li><a href="http://www.kaffah.biz/artikel">Blog</a></li>
					<li><a href="http://store.kaffahbiz.co.id/">Store</a></li>
					<li><a href="http://www.kaffah.biz/dir">Direktori</a></li>
					<li><a href="http://www.kaffah.biz/login">Login!</a></li>
					
				</ul>

				<script src="http://www.kaffah.biz/template/front/kaffahbiz/js/classie.js"></script>
				<script src="http://www.kaffah.biz/template/front/kaffahbiz/js/uisearch.js"></script>
				<script>
					new UISearch( document.getElementById( 'sb-search' ) );
				</script>
				<!-- start smart_nav * -->
		        <nav class="nav">
		            <ul class="nav-list">
						<li class="nav-item"><a href="http://www.kaffah.biz/fitur">Fitur</a></li>
						<li class="nav-item"><a href="http://www.kaffah.biz/harga">Akun Berbayar</a></li>
						<li class="nav-item"><a href="http://www.kaffah.biz/artikel">Blog</a></li>
						<li class="nav-item"><a href="http://store.kaffahbiz.co.id/">Store</a></li>
						<li class="nav-item"><a href="http://www.kaffah.biz/dir">Direktori</a></li>
						<li class="nav-item"><a href="http://www.kaffah.biz/login">Login</a></li>
		                <div class="clear"></div>
		            </ul>
		        </nav>
		        <script type="text/javascript" src="http://www.kaffah.biz/template/front/kaffahbiz/js/responsive.menu.js"></script>
				<!-- end smart_nav * -->
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="main_header">
		<div class="wrap">
			<div class="header_btm">
																	
			</div>
		</div>
	</div>
</div>


<!-- start main -->
<div class="main_bg inside">
<div class="wrap">
	<div class="main">
		<div class="content">
			<!-- start blog_left -->
			<div class="blog_left">		
				<div class="blog_main single">	
					<div class="details">
					<div class="det_text">	
						
					</div>						
					</div>	
				</div>
				
			</div>
			<!-- start blog_sidebar -->
			
			<div class="blog_sidebar">
				<div class="sidebar">
							<!-- start news_letter -->
					<h4>Ikuti Kami di SosMed</h4>
					<div class="news_letter">
						<p>Ingin mendapatkan info terupdate dari <b>kaffah.biz</b>? Ikuti sosial media kami : </p>

						<div class="f_icons">
						<ul>
							<li><a class="icon1" href="https://www.facebook.com/kaffah.biz"></a></li>
							<li><a class="icon3" href="https://plus.google.com/u/0/111369497477720921425"></a></li>
							<li><a class="icon2" href="https://www.twitter.com/kaffahbiz"></a></li>
						</ul>	
						</div>
					</div>
					
					<!-- start tag_nav -->
					<h4>Kategori</h4>
					<ul class="tag_nav">
						<li><a href="http://www.kaffah.biz/artikel/news">News</a></li>
						<li><a href="http://www.kaffah.biz/artikel/event">Event</a></li>
						<li><a href="http://www.kaffah.biz/artikel/enterpreneur">Entrepreneur</a></li>

						<li><a href="http://www.kaffah.biz/artikel/inspirasi">Inspirasi</a></li>

						<li><a href="http://www.kaffah.biz/artikel/kuliah_bisnis">Kuliah Bisnis</a></li>
						<li><a href="http://www.kaffah.biz/artikel/tips_bisnis">Tips Bisnis</a></li>
						<li><a href="http://www.kaffah.biz/artikel/tips_internet_marketing_seo">Tips Internet Marketing</a></li>
						<div class="clear"></div>
					</ul>
					
		
					<!-- start flicker images -->
					<h4>Partner Kami</h4>
					<ul class="ads_nav">
						<li><a href="#"><img src="http://www.kaffah.biz/template/front/kaffahbiz/images/ads_pic.jpg" alt=""> </a></li>
						<li><a href="#"><img src="http://www.kaffah.biz/template/front/kaffahbiz/images/ads_pic.jpg" alt=""> </a></li>
						<li><a href="#"><img src="http://www.kaffah.biz/template/front/kaffahbiz/images/ads_pic.jpg" alt=""> </a></li>
						<li><a href="#"><img src="http://www.kaffah.biz/template/front/kaffahbiz/images/ads_pic.jpg" alt=""> </a></li>
						<div class="clear"></div>
					</ul>
			
				</div>
		</div>

		<div class="clear"></div>
		</div>
	</div>
</div>
</div>

<div class="footer_bg">
<div class="wrap">
	<div class="footer">
		<div class="span_of_4">
			<div class="span1_of_4">
				<h4>Tentang Kami</h4>
				<p><a href="http://www.kaffah.biz">Kaffah.biz</a> adalah salah satu karya besar dari <a href="http://www.ilmuwebsite.com">Ilmuwebsite</a>, Kami tidak berpartner / berafiliasi dengan lembaga / instansi / sekolah / perusahaan manapun.</p>
				
				<span>Alamat Workshop:</span>
								
				<p class="top">Ilmuwebsite Courses Center <br />Jl. Durian Raya, No. 14, Bantarkemang (Balebinarum), Bogor, Jawa Barat</p>	
				
				<div class="f_icons">
						<ul>
							<li><a class="icon2" href="https://www.facebook.com/kaffah.biz"></a></li>
							<li><a class="icon1" href="https://www.twitter.com/kaffahbiz"></a></li>
							<li><a class="icon3" href="https://plus.google.com/u/0/111369497477720921425"></a></li>
						</ul>	
				</div>
			</div>
			<div class="span1_of_4 newpost">
				<h4>Posting Terbaru</h4>
				<span><a href="#">Hidup Dengan Passion Tanpa Visi & Misi = Orang Berjalan Tapi Pincang</a></span>
				<p>10 September 2014</p>
				<span><a href="#">Teknik Marketing Jitu Jualan Produk dan Jasa Di Zaman Serba IT</a></span>
				<p>17 July 2014</p>
				<span><a href="#">Ramadhan Bulan Penuh Keberkahan. Ada yang spesial dari KaffahBiz</a></span>
				<p>29 June 2014</p>
			</div>
			<div class="span1_of_4 aboutus">
				<h4>Tentang Kami</h4><span><a href="http://www.kaffah.biz/kontak_kami">Kontak Kami</a></span><span><a href="http://www.kaffah.biz/artikel/news/syarat_dan_ketentuan">Syarat &amp; Ketentuan</a></span><span><a href="http://www.kaffah.biz/artikel/tutorial_video/video_tutorial_dasar_kaffah">Panduan Kaffah</a></span><span></span><h4>Partner Kaffah.biz</h4><span><a href="http://courses.ilmuwebsite.com" rel="nofollow">IlmuWebsite Courses Center</a></span><p>Komunitas Berbagi Ilmu Website</p>
			</div>
			<div class="span1_of_4 newweb">
				<h4>Website Terbaru</h4><span><a href="http://www.makeups.kaffah.biz" target="_blank" class="sitename">Website www.makeups.kaffah.biz</a></span><p>makeups.kaffah.biz</p><span><a href="http://www.fajarclothing.webz.my.id" target="_blank" class="sitename">Website www.fajarclothing.webz.my.id</a></span><p>fajarclothing.webz.my.id</p><span><a href="http://www.auliabusana.ol-shop.net" target="_blank" class="sitename">Website www.auliabusana.ol-shop.net</a></span><p>auliabusana.ol-shop.net</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="footer_top">
			<div class="f_nav1">
				<ul>
					<li><a href="index.html">home</a></li>
					<li><a href="#">fitur</a></li>
					<li><a href="#">Akun berbayar</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">direktori</a></li>
					<li><a href="#">Kontak</a></li>
				</ul>
			</div>
			<div class="copy">
				<p class="link"><span>© All rights reserved</span> </p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>
</body>
</html>
